html{
    font-family: sans-serif;
}

h3 {
    text-align: center;
}

.wrapper{
    max-width: 1000px;
    margin: auto;
    margin: 0 auto 0 auto;
}

.hero{
    width: 100%;
    height: auto;
    text-align: center;   
}


.gallery div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery div img{
    width: 100%;
    height: auto;
    object-fit: contain;
    gap: 5px;
}

.hero{
    flex-direction: row;
}

.car{
    height: 50%;
    width: 100%;
}

.flexbox{
    display: flex;
    justify-content: space-evenly;
}